body, html {
  background-color: #121212;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  direction: rtl;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  padding-top: 60px;
}

header {
  margin-bottom: 40px;
}

.highlight {
  color: #ff1744;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 20px;
}

.section {
  text-align: center;
  padding: 20px;
}



.btn {
  width: 250px;
  padding: 12px;
  background-color: #1f1f1f;
  color: #ffffff;
  border: 2px solid #ff1744;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #ff1744;
  color: #ffffff;
  transform: translateY(-3px);
}

.content {
  margin-top: 50px;
  font-size: 1.5rem;
}

.welcome {
  color: #bbbbbb;
}
.quiz-option {
  background-color: #1a1a1a;
  border: 1px solid #444;
  padding: 8px 12px;
  margin-bottom: 6px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
  font-family: monospace;
  text-align: right;
}

.quiz-option:hover {
  background-color: #2a2a2a;
}

.quiz-option.selected {
  border-color: #d62246;
  background-color: #111;
  color: #ff5577;
}
